<div>
  <ul>
    <li><%= link_to "一覧に戻る", :users %></li>
  </ul>
</div>

<p><%= link_to "編集", :edit_user %></p>


<h3><%= @user.title %></h3>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @user.startDate %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @user.endDate %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @user.allDay %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @user.memo %></td>
  </tr>
</table>
