<h3>予定を編集してください</h3>

<% if flash[:alert] %>
    <p class="notice"><%= flash[:alert] %></p>
    <% end %>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :startDate ,"開始日" %></th>
      <td><%= f.text_field :startDate %></td>
    </tr>
    <tr>
      <th><%= f.label :endDate ,"終了日" %></th>
      <td><%= f.text_field :endDate %></td>
    </tr>
    <tr>
      <th><%= f.label :allDay ,"終日" %></th>
      <td><%= f.check_box :allDay ,{}, "○", ""  %></td>
    </tr>
    <tr>
      <th><%= f.label :memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "保存" %></li>
      <li><%= link_to "キャンセル", :posts %></li>
    </ul>
  </div>
<% end %>